@use 'variaveis';

.backstage {
    padding: 64px;
    min-height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.418), ),
        url('/dist/images/backgraund-bastidores.png');
    background-size: cover;
    background-position: center;
    color: white;

    &__container {
        max-width: 1100px;
        margin: 0 auto;
        font-size: 2em;

        @media (max-width:768px) {
            h2{
                margin-top: 10px;
            }
        }

        h2 {
            margin-bottom: 20px;
        }

        &__p {
            color: #D1D0CA;
            font-style: italic;
            font-size: 21px;
            margin-top: 24px;
        }

        &__about {
            display: grid;
            grid-template-columns: 1.3fr 0.7fr;
            align-items: center;

            @media (max-width: 768px) {
                display: block;

                img{
                    max-width: 200px ;
                }
            }

            h2 {
                margin-bottom: 0;
            }

            img {
            width: 100%;
            max-width: 500px;
        }
        }

        

        &__dir {
            display: flex;
            justify-content: center;
            gap: 4vw;

            @media (max-width:768px) {
                flex-direction: column;
                gap: 10px;
                justify-self: center;
            }

            h3{
                font-size: 27PX;
            }

            img {
                border-radius: 100%;
                width: 280px;
                height: 280px;
                object-fit: cover;
                transition: box-shadow .4s ease;

                &:hover{
                box-shadow:
                    0 18px 35px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

}