@use 'variaveis';

.contact{
    padding: 26px 8px;
    background-color: variaveis.$corFooter;

    &__container{
        display: grid;
        justify-content: space-evenly;

        h2{font-size: 2.5em;
            padding: 16px;
            justify-content: start;

            @media (max-width: 768px) {
                font-size: 2.3em;
            }
        }

        h3{
            font-size: 25px;
            letter-spacing: 1px;
            margin: 16px;
            text-align: center;
        }

        &__methods{
            display: flex;
            justify-content: space-evenly;

            @media (max-width:768px) {
                display: inherit;

                &__maps{
                    justify-self: center;
                    margin-bottom: 3em;
                }
            }

            &__maps{
                
                iframe{
                    border: 1.5px solid variaveis.$corBodyHeader;
                    border-radius: 5px;
                    box-shadow:
                    0 18px 35px rgba(0, 0, 0, 0.35);
                }
                address{
                    font-family: variaveis.$fontSecundaria;
                    text-align: center;
                    font-size: 18px;
                }
            }

            &__form{

                p{
                    font-size: 12px;
                }

                &__f{
                    width: 50%;
                    justify-self: center;
                    padding: 2em;
                    font-size: 16px;
                    border-radius: 10px;
                    text-align: center;
                    background-color: rgba(30 30 30 / 20%);
                    backdrop-filter: blur(10px);
                    box-shadow:
                    0 18px 35px rgba(0, 0, 0, 0.24);

                    @media (max-width:768px) {
                        width: 90%;
                        margin-bottom: 3em;
                    }

                    input{
                        width: 95%;
                        height: 40px;
                        margin-bottom: 10px;
                        font-family: variaveis.$fontPrincipalItalic;
                        border: 2px solid variaveis.$corSecundaria;
                        border-radius: 10px;

                        &::placeholder{
                            padding-left: 10px;
                        }

                        &:focus{
                            outline: none;
                            border: 2px solid variaveis.$corBodyHeader;
                        }
                    }
                }
            }

            &__social{
                text-align: center;
                h3{
                    margin-bottom: 0;
                }
                h4{
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                &__links{
                    display: flex;
                    justify-content: center;

                    &__itens{
                        transition: transform .2s ease-in-out;
                        &:hover{
                            transform: translateY(-4px) scale(1);
                    }
                }


                img{
                    width: 6.5em;
                    height: auto;
                }
            }
        }
    }
    }} 