@use 'variaveis';

.contact{
    &__container{
        display: block;

        &__methods{
            display: flex;

            &__form{
                padding: 16px;

                p{
                    font-size: 12px;
                }

                form{
                    width: 50%;
                }
            }
        }
    }
}