@use 'variaveis';

.header{
    background-color: variaveis.$corBodyHeader;


        &__container{
            display: grid;
            padding: 0 3em;
            justify-content: center;
        }

        &__logo{
            max-width: 280px;
        }

        &__links{
            display: flex;
            align-items: center;
            margin-top: 1em;
            margin-bottom: 1em;

                &__item{
                    margin: auto 10px;
                }
        }
}