@use 'variaveis';

.header{
    background: linear-gradient(90deg,rgba(5, 118, 165, 1) 0%, rgba(5, 120, 167, 1) 47%, rgba(10, 116, 163, 1) 100%);

        &__container{
            display: grid;
            padding: 0 3em;
            justify-content: center;
        }

        &__logo{
            max-width: 280px;
        }

        &__links{
            display: flex;
            align-items: center;
            margin-top: 1em;
            margin-bottom: 1em;

                &__item{
                    margin: auto 10px;
                }
        }
}