@use 'variaveis';

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    transition: padding .3s ease, height .3s ease, background-color .3s;

    &--is--sticky {
        padding: 8px 0;
        background-color: variaveis.$corBodyHeader;

        .header__container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .header__links {
            font-size: 16px;
        }

        .header__logo {
            max-width: 150px;
        }
    }


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__logo {
        max-width: 280px;
    }

    #burguer {
        display: none;
        font-size: 40px;
    }

    @media (max-width:768px) {
        .header__links {
            display: none;
            background-color: rgb(43 143 177 / 93%);
            width: 100%;
            flex-direction: column;

            &__item {
                margin-bottom: 10px;
            }

            &--is--open {
                display: flex;
            }
        }

        #burguer {
            display: block;
            cursor: pointer;
        }

    }


    &__links {
        padding: 16px;
        display: flex;
        align-items: center;
        font-size: 18px;
        background-color: variaveis.$corHeaderLinks;
        transition: background-color .3s;

        &__item {
            margin: auto 10px;

            a {
                padding: 16px;
                border-radius: 5px;
                color: black;
                text-decoration: none;
            }
        }
    }

}