@use 'variaveis';

.hero {
    padding: 64px;
    padding-top: 120px;
    min-height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(to top,
            rgb(255, 255, 255) 0%,
            rgba(255, 255, 255, 0.747) 40%,
            rgba(255, 255, 255, 0.1) 70%,
            rgba(255, 255, 255, 0) 100%),
        url('/dist/images/backgrund.hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    @media (max-width:768px) {
        img {
            max-width: 75vw;
            padding: 0 25px;
        }
    }



    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media (max-width:768px) {
            display: initial;
            padding: inherit;
            padding-bottom: 0;
        }

        &__text {
            max-width: 30em;

            @media (max-width:768px) {
                padding: 10px;
                border-radius: 10px;
                background-color: rgb(43 143 177 / 39%);
            }

            &__button {
                button {
                    margin: 10px;
                    background: variaveis.$corHeaderLinks;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;

                    &:hover{
                        background-color: #308ead;
                    }

                    &:active {
                        background-color: variaveis.$corBodyHeader;
                    }
                }
            }
        }
    }
}