@use 'variaveis';


.hero {
    &__container{
        background-image: 
        linear-gradient(
        to top,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0.747) 40%,
        rgba(255, 255, 255, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
        ),
        url('/dist/images/backgrund.hero.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height:  85vh;
        width: 100%;
        

            &__about{
                display: flex;
                justify-content: center;
                padding-top: 20em;

                &__history{
                    display: flex;
                    align-items: end;
                    max-width: 30em;
                    margin-bottom: 5em;
                }
                img{
                    max-height: 30vw;
                    margin-left: 5em;
                }

            }
    }
}