@use 'variaveis';

.hero{

    &__container{
        height: 100vh;
        width: 100%;

        &__background{
            height: 100%;
            width: 100%;
            background-image:
            linear-gradient(
            to top,
            rgba(255, 255, 255, 0.986) 0%,
            rgba(255, 255, 255, 0.473) 40%,
            rgba(255, 255, 255, 0.1) 70%,
            rgba(255, 255, 255, 0) 100%
            ),
        url('/dist/images/backgrund.hero.png');
            background-size: cover;
            background-position: center;
        }

        &__about{
            
        }
    }
}