@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;

        &__item{
            img{
                max-width: 100%;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: variaveis.$corBodyHeader;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 0.7vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is--active{
                border-bottom: 5px solid variaveis.$corBodyHeader;
            }
        }
    }


}