@use 'variaveis';

.shows {
    padding: 2vw 9vw;
    min-height: 50vw;

    &__list{
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 44px;

        @media(max-width:768px){
            grid-template-columns: 1fr 1fr;
        }

        &--is--active{
            display: grid;
        }

        &__item{
            img{
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: variaveis.$corBodyHeader;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 0.7vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is--active{
                border-bottom: 5px solid variaveis.$corBodyHeader;
            }
        }
    }


}