$corBodyHeader: #2b90b1;
$corHeaderLinks: #2b8fb1cb;
$corFontPadrao: black;

$corSecundaria: #4E4397;
$corBackstory:  #788b6c;

$corFooter: #384b77;

//fonts

$fontPrincipal: Lemon Milk Ligth, sans-serif ;
$fontPrincipal2: Lemon Milk, sans-serif;
$fontPrincipalItalic: Lemon Milk LItalic;
$fontBold: Lemon Milk Bold, sans-serif;
$fontSecundaria: "Poppins", sans-serif;