@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';
@use 'backstage';
@use 'footer';

@font-face  {
    font-family: Lemon Milk;
    src: url(../../assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: Lemon Milk;
    src: url(../../assets/fonts/LEMONMILK-Regular.otf);
    font-size: 400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Lemon Milk, sans-serif;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h2 {
    justify-content: center;
    display: flex;
    font-size: 3em;
}

