@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}